@mixin input-variant($type, $background, $border-radius, $input-px, $input-font-size) {
  $--color: color-yiq($background);
  $--border-color: darken($background, 5%);

  @if $type == 'primary' {
    .input {
      color: $--color;
      border-color: $--border-color;
      background: $background;
      box-shadow: box-shadow('#{$type}-inset');
    }

    .input:focus-within:not([disabled]),
    .input:not([disabled]):hover {
      border-color: $--border-color;
    }

    :host .input::placeholder {
      color: darken($background, 40%);
    }

    .prefix,
    .suffix {
      color: $--color;
      font-size: $input-font-size;
    }

    :host([prefix-icon]) {
      border-color: $--border-color;
      background-color: $background;
    }

    :host([prefix-icon]) .input {
      border-width: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  } @else {
    :host([theme='#{$type}']) .input {
      color: $--color;
      box-shadow: box-shadow('#{$type}-inset');
      background: $background;
    }

    :host([theme='#{$type}']:focus-within:not([disabled])),
    :host([theme='#{$type}']:not([disabled]):hover) {
      border-color: $--border-color;
    }

    :host([theme='#{$type}']) .input::placeholder {
      color: darken($background, 40%);
    }

    :host([theme='#{$type}']) .prefix,
    :host([theme='#{$type}']) .suffix {
      color: $--color;
    }
  }
}

@mixin input-size($type, $font-size, $input-py, $input-px, $input-font-size, $line-height-base, $border-radius) {
  :host([size='#{$type}']) .input {
    padding: theme-styles-size($type, $input-py) theme-styles-size($type, $input-py);
    font-size: theme-styles-size($type, $input-font-size);
    line-height: theme-styles-size($type, $line-height-base);

    @if $enable-rounded {
      @include border-radius($border-radius);
    } @else {
      border-radius: 0;
    }
  }
}
