@mixin button-variant(
  $type,
  $background,
  $border,
  $hover-background: darken($background, 0%),
  $hover-border: darken($border, 0%),
  $active-background: $background,
  $active-border: darken($border, 0%)
) {
  @if $type == 'primary' {
    :host {
      color: color-yiq($background);
      @include gradient-bg($background);
      @include box-shadow($box-shadow-primary);
    }

    :host(:not([disabled]):hover) {
      color: color-yiq($hover-background);
      background-color: $hover-background;
      border-color: $hover-border;
      @include box-shadow($shadow-inset);
    }

    :host(:not([disabled]):focus) {
      @if $enable-shadows {
        box-shadow: $shadow-inset;
      } @else {
        box-shadow: $shadow-inset;
      }
    }

    :host(:not([disabled]):active) {
      @include box-shadow($shadow-inset);
    }
  } @else {
    :host([theme='#{$type}']) {
      color: color-yiq($background);
      @include gradient-bg($background);
      @include box-shadow($box-shadow-dark);
    }

    :host([theme='#{$type}']) {
      color: color-yiq($background);
      @include gradient-bg($background);
    }

    :host([theme='#{$type}']:not([disabled]):hover) {
      color: color-yiq($hover-background);
      background-color: $hover-background;
      border-color: $hover-border;
      @include box-shadow($shadow-dark-inset);
    }

    :host([theme='#{$type}']:not([disabled]):focus) {
      @if $enable-shadows {
        box-shadow: $shadow-dark-inset;
      } @else {
        box-shadow: $shadow-dark-inset;
      }
    }

    :host([theme='#{$type}']:not([disabled]):active) {
      @include box-shadow($shadow-dark-inset);
    }
  }
}

// Button sizes
@mixin button-size($type, $font-size, $padding-y, $padding-x, $line-height, $border-radius) {
  :host([size='#{$type}']) {
    padding: theme-styles-size($type, $padding-y) theme-styles-size($type, $padding-x);
    font-size: $font-size;
    line-height: theme-styles-size($type, $line-height);

    @if $enable-rounded {
      @include border-radius($border-radius);
    } @else {
      border-radius: 0;
    }
  }

  :host([size='#{$type}']):host([circle]) {
    padding: theme-styles-size($type, $padding-y) !important;
    line-height: 1 !important;
    border-radius: $circle-radius !important;
  }
}
