/*! -button1 */
.btn {
  background: none;
  outline: 0;
  border: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  user-select: none;
  cursor: unset;
}

:host {
  position: relative;
  display: inline-flex;
  padding: $btn-padding-y $btn-padding-x;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: $btn-line-height;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-size: $btn-font-size;
  letter-spacing: $btn-letter-spacing;
  border-width: $border-width;
  border-style: solid;
  border-radius: $border-radius;
  border-color: $border-color;
  transition: $transition-base;
  @include box-shadow($box-shadow-primary);
}

:host(:hover) {
  color: #44476a;
  text-decoration: none;
}

:host(.focus),
:host(:focus) {
  outline: 0;
  @include box-shadow($shadow-inset);
}

:host(.disabled),
:host(:disabled) {
  opacity: 0.65;
  box-shadow: none;
}

:host(:not(:disabled):not(.disabled).active),
:host(:not(:disabled):not(.disabled):active) {
  @include box-shadow($shadow-inset);
}

:host(not(:disabled):not(.disabled).active:focus),
:host(not(:disabled):not(.disabled):active:focus) {
  @include box-shadow($shadow-inset);
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

@each $color, $value in $theme-colors {
  @include button-variant($color, $value, $value);
}

/*! button1- */
