/*! -button */
.btn {
  background: none;
  outline: 0;
  border: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  user-select: none;
  cursor: unset;
}

:host {
  position: relative;
  display: inline-flex;
  padding: $btn-padding-y $btn-padding-x;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: $btn-line-height;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-size: $btn-font-size;
  letter-spacing: $btn-letter-spacing;
  border-width: $border-width;
  border-style: solid;
  border-radius: $border-radius;
  border-color: $border-color-transparent;
  transition: $transition-base;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

:host([disabled]),
:host([loading]) {
  pointer-events: none;
  opacity: 0.6;
}

:host([disabled]:not([type])) {
  background: rgba(0, 0, 0, 0.1);
}

:host([disabled]) .btn,
:host([loading]) .btn {
  cursor: not-allowed;
  pointer-events: all;
}

:host([circle]) {
  border-radius: $circle-radius;
}

:host([block]) {
  display: flex;
}

@each $color, $value in $theme-colors {
  @include button-variant($color, $value, $value);
}

@each $type, $value in $theme-sizes {
  @include button-size($type, $value, $btn-padding-y, $btn-padding-x, $btn-line-height, $border-radius);
}

iconpark-icon {
  margin-right: $btn-loading-margin-y;
}
/*! button- */
