/*! -input */

.input {
  flex: 1;
  padding: $input-py $input-px;
  font-family: inherit;
  outline: 0;
  font-size: $input-font-size;
  line-height: $line-height-base;
  border-width: $border-width;
  border-style: solid;
  border-radius: $border-radius;
  border-color: $border-color-transparent;
  transition: $transition-base;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  overflow-x: hidden;
}

:host {
  display: inline-block;
  border-width: $border-width;
  border-style: solid;
  border-radius: $border-radius;
  border-color: $border-color-transparent;
  box-sizing: border-box;
  transition: $transition-base;
}

:host([block]) {
  display: block;
}

:host([disabled]) {
  opacity: 0.8;
  cursor: not-allowed;
}

/* 去除圆角 */
input[type='search'] {
  -webkit-appearance: none;
}

/* 隐藏取消按钮 */
::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 隐藏放大镜 */
::-webkit-search-results-button {
  -webkit-appearance: none;
}

::-moz-focus-inner,
::-moz-focus-outer {
  border: 0;
  outline: 0;
}

.input:-moz-ui-invalid {
  box-shadow: none;
}

.input::-ms-reveal {
  display: none;
}

.prefix,
.suffix {
  margin: 0 $input-icon-mx;
}

@each $color, $value in $theme-colors {
  @include input-variant($color, $value, $border-radius, $input-px, $input-font-size);
}

@each $type, $value in $theme-sizes {
  @include input-size($type, $value, $input-py, $input-px, $input-font-size, $line-height-base, $border-radius);
}

/*! input- */
