/**
 * = Spacing
 */

@for $i from 0 through 10 {
  $size: $i;
  $value: $spacer * $i;

  .top-#{$size} {
    top: $value !important;
  }
  .right-#{$size} {
    right: $value !important;
  }
  .bottom-#{$size} {
    bottom: $value !important;
  }
  .left-#{$size} {
    left: $value !important;
  }
}

.center-vertical-absolute,
.center-horizontal-absolute {
  position: absolute !important;
}

.center-vertical-absolute {
  top: 50%;
  transform: translateY(-50%);
}

.center-horizontal-absolute {
  left: 50%;
  transform: translateX(-50%);
}

@each $position in $positions {
  .position-#{$position} {
    position: $position !important;
  }
}
