// Margin and Padding

.m-0 {
  margin: 0 !important;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
.mr-0,
.mx-0 {
  margin-right: 0 !important;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-auto {
  margin: auto !important;
}
.mt-auto,
.my-auto {
  margin-top: auto !important;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @for $i from 0 through 10 {
        $length: spacer-value($infix, $i);

        @if $i != 0 {
          .#{$abbrev}-#{$i} {
            #{$prop}: $length !important;
          }
          .#{$abbrev}t-#{$i},
          .#{$abbrev}y-#{$i} {
            #{$prop}-top: $length !important;
          }
          .#{$abbrev}r-#{$i},
          .#{$abbrev}x-#{$i} {
            #{$prop}-right: $length !important;
          }
          .#{$abbrev}b-#{$i},
          .#{$abbrev}y-#{$i} {
            #{$prop}-bottom: $length !important;
          }
          .#{$abbrev}l-#{$i},
          .#{$abbrev}x-#{$i} {
            #{$prop}-left: $length !important;
          }
        }
      }
    }

    @for $i from 0 through 10 {
      $length: spacer-value($infix, $i);

      @if $i != 0 {
        .m-n#{$i} {
          margin: -$length !important;
        }
        .mt-n#{$i},
        .my-n#{$i} {
          margin-top: -$length !important;
        }
        .mr-n#{$i},
        .mx-n#{$i} {
          margin-right: -$length !important;
        }
        .mb-n#{$i},
        .my-n#{$i} {
          margin-bottom: -$length !important;
        }
        .ml-n#{$i},
        .mx-n#{$i} {
          margin-left: -$length !important;
        }
      }
    }
  }
}
