/*! -checkbox */

:host {
  position: relative;
  display: inline-flex;
  -webkit-tap-highlight-color: transparent;

  &::after {
    content: attr(msg);
    margin-top: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    font-size: $font-size-xs;
    opacity: 0;
    z-index: -1;
    transition: $transition-base;
  }
}

:host([invalid])::after {
  top: 100%;
  color: $pink;
  opacity: 1;
  z-index: 10;
}

:host([disabled]) {
  pointer-events: none;
  opacity: 0.6;
}

:host([disabled]) label {
  pointer-events: all;
  cursor: not-allowed;
}

.checkbox {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

label {
  position: relative;
  padding-left: $checkbox-label-pl;
  display: inline-block;
  vertical-align: middle;
  line-height: $checkbox-label-height;
  box-sizing: border-box;
  transition: $transition-base;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: $checkbox-label-width;
    height: $checkbox-label-height;
    border-width: $border-width;
    border-style: solid;
    transition: $transition-base;
  }
}

label[circle] {
  border-radius: $checkbox-border-radius;

  &::before,
  &::after {
    border-radius: $checkbox-border-radius;
  }
}

.checkbox:checked + label::after {
  content: '\\2714';
  font-size: $checkbox-icon-size;
  text-align: center;
  z-index: 1;
}

@each $color, $value in $theme-colors {
  @include checkbox-variant($color, $value);
}

@each $type, $value in $theme-sizes {
  @include checkbox-size($type, $value, $checkbox-label-width, $checkbox-label-height, $checkbox-icon-size);
}
/*! checkbox- */
