/*! -radio */

:host {
  display: inline-flex;
  -webkit-tap-highlight-color: transparent;
}
:host([disabled]) {
  pointer-events: none;
  opacity: 0.6;
}
:host([disabled]) label {
  pointer-events: all;
  cursor: not-allowed;
}
.radio {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
label {
  position: relative;
  padding-left: $radio-label-pl;
  display: inline-block;
  vertical-align: middle;
  line-height: $radio-label-height;
  border-radius: $radio-border-radius;
  box-sizing: border-box;
  transition: $transition-base;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: $radio-label-width;
    height: $radio-label-height;
    border-width: $border-width;
    border-style: solid;
    border-radius: $radio-border-radius;
    transition: $transition-base;
  }
}

.radio:checked + label::after {
  content: '\\2714';
  font-size: $radio-icon-size;
  text-align: center;
  z-index: 1;
}

@each $color, $value in $theme-colors {
  @include radio-variant($color, $value);
}

@each $type, $value in $theme-sizes {
  @include radio-size($type, $value, $radio-label-width, $radio-label-height, $radio-icon-size);
}
/*! radio- */
